# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
benv/

# IDE
.idea/
.vscode/

#Enviroment Variables
.env

# Test result cache
.pytest_cache/

# Logs
logs/

